<div class="ui center" style="height: 800px;">

  <div>
    <h3>Selection Sort</h3>
   <p> <br>Selection sort is a simple comparison-based sorting algorithm. It is in-place and needs no extra memory.</p>
     <p>&nbsp;&nbsp;
      The idea behind this algorithm is pretty simple. We divide the array into two parts: sorted and unsorted. The left part is sorted subarray and the right part is unsorted subarray. Initially, sorted subarray is empty and unsorted array is the complete given array.
<br><br>
We perform the steps given below until the unsorted subarray becomes empty:<br>

&nbsp;&nbsp;-Pick the minimum element from the unsorted subarray.<br>
&nbsp;&nbsp;-Swap it with the leftmost element of the unsorted subarray.<br>
&nbsp;&nbsp;-Now the leftmost element of unsorted subarray becomes a part (rightmost) of sorted subarray and will not be a part of unsorted subarray.<br>

     </p>
  </div>
  <br>


<img style="height: auto;" src="assets/selSort.JPG" alt="">
</div>

