<div id="primary" class="site-content">
  <div id="content" role="main">
      <header class="entry-header">
          <h1 class="entry-title">Sorting Terminology</h1> <br>

          </header><!-- .entry-header -->

      <div class="entry-content">
    <p><strong>What is in-place sorting?</strong><br>
An in-place sorting algorithm uses constant extra space for producing
the output (modifies the given array only). It sorts the list only by
modifying the order of the elements within the list.<br>

For example, Insertion Sort and Selection Sorts are in-place sorting
algorithms as they do not use any additional space for sorting the list
and a typical implementation of Merge Sort is not in-place, also the
implementation for counting sort is not in-place sorting algorithm.</p><br>
<p><strong>What are Internal and External Sortings?</strong><br>
When all data that needs to be sorted cannot be placed in-memory at a time, the sorting is called <a href="http://en.wikipedia.org/wiki/External_sorting" target="_blank">external sorting</a>.
External Sorting is used for massive amount of data.  Merge Sort and
its variations are typically used for external sorting.  Some external
storage like hard-disk, CD, etc is used for external storage.<br>
When all data is placed in-memory, then sorting is called internal sorting.</p><br>
<p><strong>What is stable sorting?</strong><br>
See <a href="https://www.geeksforgeeks.org/stability-in-sorting-algorithms/">Stable Sorting Algorithms</a></p><br><div id="AP_G4GR_5"></div><br>
